# Capstone Project 1 - Connecting to Data

In [1]:
import mysql.connector as mysql #if it gives error, use: pip install mysql.connector
import csv
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Creating the connection string to connect to INSAID's mysql db

dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

In [3]:
print(dbconnectionstring)

<mysql.connector.connection.MySQLConnection object at 0x000001B6A2BDC198>

In [4]:
# List all tables in the database

cursor.execute("SHOW TABLES")
tables=cursor.fetchall()
for table_name in tables:
    print(table_name)

('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

In [5]:
# Table 1 - events_data - Get Column names

dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

query = "show columns from events_data"
cursor.execute(query)
result=cursor.fetchall()
dbconnectionstring.close()
result

[('event_id', 'bigint(20)', 'NO', '', None, ''),
 ('device_id', 'bigint(255)', 'YES', '', None, ''),
 ('timestamp', 'datetime', 'NO', '', None, ''),
 ('longitude', 'float(8,6)', 'YES', '', None, ''),
 ('latitude', 'float(8,6)', 'YES', '', None, ''),
 ('city', 'varchar(50)', 'NO', '', None, ''),
 ('state', 'varchar(50)', 'NO', '', None, '')]

In [6]:
# Table 2 - gender_age_train - Get Column names

dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

query = "show columns from gender_age_train"
cursor.execute(query)
result=cursor.fetchall()
dbconnectionstring.close()
result

[('device_id', 'bigint(255)', 'NO', '', None, ''),
 ('gender', 'varchar(2555)', 'NO', '', None, ''),
 ('age', 'int(255)', 'NO', '', None, ''),
 ('group', 'varchar(2555)', 'NO', '', None, '')]

In [7]:
# Table 3 - phone_brand_device_model - Get Column names

dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

query = "show columns from phone_brand_device_model"
cursor.execute(query)
result=cursor.fetchall()
dbconnectionstring.close()
result

[('device_id', 'bigint(255)', 'NO', '', None, ''),
 ('phone_brand', 'varchar(2555)', 'NO', '', None, ''),
 ('device_model', 'varchar(2555)', 'NO', '', None, '')]

In [8]:
dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

query = "select count(*) from phone_brand_device_model"
cursor.execute(query)
pcount = cursor.fetchall()
dbconnectionstring.close()
pcount

[(87726,)]

In [9]:
dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

query = "select count(*) from gender_age_train"
cursor.execute(query)
pcount = cursor.fetchall()
dbconnectionstring.close()
pcount

[(74645,)]

Query

In [17]:
# Get all records for the concerned States from events_data

if dbconnectionstring.is_connected():
    dbconnectionstring.close()
    
dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

query = '''select *
             from events_data as ed
            where state in ('MadhyaPradesh', 'Goa', 'Chhattisgarh','Uttaranchal', 'JammuandKashmir', 'Nagaland')'''
cursor.execute(query)
events_data=cursor.fetchall()
ds_events_data= pd.DataFrame(events_data)
ds_events_data.columns=[i[0] for i in cursor.description]
dbconnectionstring.close()

In [18]:
ds_events_data.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,10117,-5.323073e+18,2016-05-01 11:11:24,75.939545,22.769171,Indore,MadhyaPradesh
1,112369,-5.323073e+18,2016-05-04 22:47:19,75.939545,22.769171,Indore,MadhyaPradesh
2,139098,-5.323073e+18,2016-05-01 09:55:58,75.939545,22.769171,Indore,MadhyaPradesh
3,190983,-5.323073e+18,2016-05-04 22:51:03,75.939545,22.769171,Indore,MadhyaPradesh
4,249507,-5.323073e+18,2016-05-01 11:24:12,75.939545,22.769171,Indore,MadhyaPradesh

In [19]:
# Create a unique list of device ids from event data, to download only those records from the other 2 tables.

device_ids = ds_events_data['device_id'].unique()    # Extracts unique device ids
dids=device_ids.tolist()                           # Converts nparray to list
list_of_ids = [x for x in dids if str(x) != 'nan'] # Drop all 'nan' ids
len(list_of_ids)                                   # list the number of ids.

4297

In [22]:
# Download the records from phone_brand_device_model

if dbconnectionstring.is_connected():
    dbconnectionstring.close()
    
dbconnectionstring = mysql.connect(                     # Connection string used again, since it keeps disconnecting, so 
                      host = 'cpanel.insaid.co',        # executing this again, before every select statements.
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

format_strings = ','.join(['%s'] * len(list_of_ids))   # This needs to be added to pass the ids. if we have 5 ids, then it 
                                                       # will create 5, %s, positional parameters.

query = '''select * 
             from phone_brand_device_model
            where device_id in ( %s )''' % format_strings

cursor.execute(query, tuple(list_of_ids))
phone_data=cursor.fetchall()
ds_phone_data = pd.DataFrame(phone_data)
ds_phone_data.columns=[i[0] for i in cursor.description]
dbconnectionstring.close()

In [23]:
ds_phone_data.head()

             device_id phone_brand device_model
0  2313145512701915151        vivo        Xplay
1 -1539979963116391306          小米       GN708W
2 -7731743086143077949          小米           红米
3 -4370696809239943432          小米        MI 2S
4  2959524852145775517          三星         A850

In [24]:
# Download the records from gender_age_train

if dbconnectionstring.is_connected():
    dbconnectionstring.close()
    
dbconnectionstring = mysql.connect(
                      host = 'cpanel.insaid.co',
                      user = 'student',
                      passwd = 'student',
                      database = 'Capstone1' )

cursor = dbconnectionstring.cursor()

format_strings = ','.join(['%s'] * len(list_of_ids))

#list_ids = tuple(','.join(['%s'] * len(ldevice_ids)))

query = '''select * 
             from gender_age_train
            where device_id in ( %s )''' % format_strings

cursor.execute(query,tuple(list_of_ids))
user_data=cursor.fetchall()
ds_user_data = pd.DataFrame(user_data)
ds_user_data.columns=[i[0] for i in cursor.description]
dbconnectionstring.close()

In [25]:
ds_user_data.head()

             device_id gender  age   group
0  2313145512701915151      M   34  M32-38
1 -1539979963116391306      M   31  M29-31
2 -7731743086143077949      M   35  M32-38
3 -4370696809239943432      M   36  M32-38
4  2959524852145775517      M   30  M29-31

In [26]:
# Write all records from the data, to excel files

ds_events_data.to_excel('events_data.xlsx')
ds_phone_data.to_excel('phone_data.xlsx')
ds_user_data.to_excel('user_data.xlsx')

In [27]:
phone_brand_list = ds_phone_data['phone_brand'].unique()

In [28]:
phone_brand_list.shape

(60,)

In [ ]:
for i in range(len(phone_brand_list)):
   # translator = Translator()
   # translated= translator.translate(phone_brand_list[i], dest='en')
    print (phone_brand_list[i]) #, ' - ', translated)

In [30]:
phone_device_model = ds_phone_data['device_model'].unique()
phone_device_model = pd.DataFrame(phone_device_model)
phone_device_model.to_excel('phone_device_model_data.xlsx')

In [46]:
df_model_typ = pd.read_excel("phone_model_trans.xlsx")
df_model_typ.head(5)

    model model_eng
0   Xplay     Xplay
1  GN708W    GN708W
2      红米  Red rice
3   MI 2S     MI 2S
4    A850      A850

In [54]:
dp = ds_phone_data.copy()

In [48]:
df_tpb = pd.read_excel("phone_brand_translated.xlsx")
df_tpb.head(5)

  phone_brand phone_brand_eng
0          酷派            Cool
1          魅族           Meizu
2         努比亚           Nubia
3          三星         Samsung
4          纽曼          Newman

In [49]:
def trans_brand(row):
    for i in df_tpb.index:
        if df_tpb['phone_brand'][i] == row['phone_brand'] : 
            return df_tpb['phone_brand_eng'][i]
        
    return "Other"

In [55]:
dp['phone_brand_eng'] = dp.apply(lambda row: trans_brand(row), axis=1 )
dp.head(5)

             device_id phone_brand device_model phone_brand_eng
0  2313145512701915151        vivo        Xplay            vivo
1 -1539979963116391306          小米       GN708W          Millet
2 -7731743086143077949          小米           红米          Millet
3 -4370696809239943432          小米        MI 2S          Millet
4  2959524852145775517          三星         A850         Samsung

In [64]:
def trans_model(row):
    try:
        for i in df_model_typ.index:
            if df_model_typ['model'][i] == row['device_model'] :
                return df_model_typ['model_eng'][i]
    except Exception as e:
        print(str(e))
        return "df_model_typ['model'][i]"
        
    return "df_model_typ['model'][i]"

In [63]:
dp['device_model_eng'] = dp.apply(lambda row: trans_model(row), axis=1 )
dp.head(5)

,device_id,phone_brand,device_model,phone_brand_eng,device_model_eng
0,2313145512701915151,vivo,Xplay,vivo,Xplay
1,-1539979963116391306,小米,GN708W,Millet,GN708W
2,-7731743086143077949,小米,红米,Millet,Red rice
3,-4370696809239943432,小米,MI 2S,Millet,MI 2S
4,2959524852145775517,三星,A850,Samsung,A850

joining datasets

In [71]:
din = ds_events_data.set_index('device_id').join(dp.set_index('device_id'))
din.head()

ValueError: values should be unique if labels is not None

In [67]:
din.shape

(261097, 12)

In [69]:
ds_events_data.shape

(261097, 7)

In [73]:
ds_events_data.describe()

           event_id     device_id      longitude       latitude
count  2.610970e+05  2.610460e+05  261034.000000  261034.000000
mean   1.625966e+06 -4.377374e+16      76.704918      23.258085
std    9.401508e+05  5.153156e+18       2.333525       2.219976
min    1.011700e+04 -9.222755e+18      12.567400      15.291265
25%    8.136240e+05 -4.374356e+18      75.897141      22.750061
50%    1.624810e+06  6.577099e+16      75.925995      22.782286
75%    2.438915e+06  4.095288e+18      75.956451      22.811922
max    3.252939e+06  9.220026e+18      94.361549      41.871899

In [74]:
ds_events_data.isnull().sum()

event_id      0
device_id    51
timestamp     0
longitude    63
latitude     63
city          0
state         0
dtype: int64

In [76]:
ds_events_data[ds_events_data['device_id'].isnull()]

,event_id,device_id,timestamp,longitude,latitude,city,state
48308,84091,NaN,2016-05-02 13:28:09,75.882957,22.814520,Indore,MadhyaPradesh
48311,93602,NaN,2016-05-03 11:57:22,75.882957,22.814520,Indore,MadhyaPradesh
48379,356056,NaN,2016-05-02 13:48:16,75.882957,22.814520,Indore,MadhyaPradesh
48427,558444,NaN,2016-05-02 18:58:23,75.882957,22.814520,Indore,MadhyaPradesh
48490,850678,NaN,2016-05-07 15:40:10,75.882957,22.814520,Indore,MadhyaPradesh
48520,1037766,NaN,2016-05-03 12:00:46,75.882957,22.814520,Indore,MadhyaPradesh
48567,1228197,NaN,2016-05-02 13:32:29,75.882957,22.814520,Indore,MadhyaPradesh
48590,1350986,NaN,2016-05-01 22:11:23,75.882957,22.814520,Indore,MadhyaPradesh
48608,1376079,NaN,2016-05-03 16:14:56,75.882957,22.814520,Indore,MadhyaPradesh
48660,1603987,NaN,2016-05-04 10:57:10,75.882957,22.814520,Indore,MadhyaPradesh
48682,1672836,NaN,2016-05-04 14:55:00,75.882957,22.814520,Indore,MadhyaPradesh
48727,1848062,NaN,2016-05-07 08:20:25,75.882957,22.814520,Indore,MadhyaPradesh
48749,1936567,NaN,2016-05-02 15:27:54,75.882957,22.814520,Indore,MadhyaPradesh
48836,2267349,NaN,2016-05-02 15:29:57,75.882957,22.814520,Indore,MadhyaPradesh
48900,2477669,NaN,2016-05-06 11:17:50,75.882957,22.814520,Indore,MadhyaPradesh
48929,2611948,NaN,2016-05-07 10:53:48,75.882957,22.814520,Indore,MadhyaPradesh
49037,3096112,NaN,2016-05-01 11:41:33,75.882957,22.814520,Indore,MadhyaPradesh
53393,93979,NaN,2016-05-03 11:36:45,75.958054,22.817526,Indore,MadhyaPradesh
53396,112153,NaN,2016-05-04 22:00:38,75.958054,22.817526,Indore,MadhyaPradesh
53464,469387,NaN,2016-05-03 19:28:48,75.958054,22.817526,Indore,MadhyaPradesh
53512,646659,NaN,2016-05-06 21:25:57,75.958054,22.817526,Indore,MadhyaPradesh
53575,903561,NaN,2016-05-07 14:49:22,75.958054,22.817526,Indore,MadhyaPradesh
53605,1023857,NaN,2016-05-06 21:40:35,75.958054,22.817526,Indore,MadhyaPradesh
53652,1239767,NaN,2016-05-06 20:50:05,75.958054,22.817526,Indore,MadhyaPradesh
53675,1360125,NaN,2016-05-04 07:36:34,75.958054,22.817526,Indore,MadhyaPradesh
53693,1408777,NaN,2016-05-06 20:54:44,75.958054,22.817526,Indore,MadhyaPradesh
53745,1618847,NaN,2016-05-05 19:44:46,75.958054,22.817526,Indore,MadhyaPradesh
53767,1699963,NaN,2016-05-06 22:54:36,75.958054,22.817526,Indore,MadhyaPradesh
53812,1887094,NaN,2016-05-06 14:04:00,75.958054,22.817526,Indore,MadhyaPradesh
53834,1974711,NaN,2016-05-04 18:14:08,75.958054,22.817526,Indore,MadhyaPradesh
53921,2363820,NaN,2016-05-02 12:20:15,75.958054,22.817526,Indore,MadhyaPradesh
53985,2594217,NaN,2016-05-03 19:03:43,75.958054,22.817526,Indore,MadhyaPradesh
54014,2729797,NaN,2016-05-04 15:05:36,75.958054,22.817526,Indore,MadhyaPradesh
54122,3167450,NaN,2016-05-03 20:29:43,75.958054,22.817526,Indore,MadhyaPradesh
114959,53038,NaN,2016-05-01 18:11:24,75.923332,22.777781,Indore,MadhyaPradesh
114962,62725,NaN,2016-05-05 23:29:23,75.923332,22.777781,Indore,MadhyaPradesh
115030,310080,NaN,2016-05-02 15:37:17,75.923332,22.777781,Indore,MadhyaPradesh
115078,520053,NaN,2016-05-01 16:23:00,75.923332,22.777781,Indore,MadhyaPradesh
115141,754221,NaN,2016-05-04 20:57:43,75.923332,22.777781,Indore,MadhyaPradesh
115171,908097,NaN,2016-05-04 18:56:54,75.923332,22.777781,Indore,MadhyaPradesh
115218,1102536,NaN,2016-05-06 21:19:09,75.923332,22.777781,Indore,MadhyaPradesh
115241,1205324,NaN,2016-05-02 15:42:14,75.923332,22.777781,Indore,MadhyaPradesh
115259,1261612,NaN,2016-05-04 19:07:05,75.923332,22.777781,Indore,MadhyaPradesh
115311,1558323,NaN,2016-05-01 21:53:01,75.923332,22.777781,Indore,MadhyaPradesh
115333,1674442,NaN,2016-05-06 15:47:24,75.923332,22.777781,Indore,MadhyaPradesh
115378,1903648,NaN,2016-05-02 15:41:54,75.923332,22.777781,Indore,MadhyaPradesh
115400,1974053,NaN,2016-05-01 18:12:07,75.923332,22.777781,Indore,MadhyaPradesh
115487,2370402,NaN,2016-05-01 16:20:07,75.923332,22.777781,Indore,MadhyaPradesh
115551,2621408,NaN,2016-05-04 18:24:57,75.923332,22.777781,Indore,MadhyaPradesh
115580,2762149,NaN,2016-05-07 20:49:42,75.923332,22.777781,Indore,MadhyaPradesh
115688,3214579,NaN,2016-05-05 22:24:32,75.923332,22.777781,Indore,MadhyaPradesh

In [80]:
ds_events_data[ds_events_data['longitude'] == 75.923332]

,event_id,device_id,timestamp,longitude,latitude,city,state
114945,12819,7.597736e+18,2016-05-01 13:06:16,75.923332,22.777781,Indore,MadhyaPradesh
114946,14548,7.597736e+18,2016-05-02 14:49:42,75.923332,22.777781,Indore,MadhyaPradesh
114947,14600,7.597736e+18,2016-05-02 14:41:25,75.923332,22.777781,Indore,MadhyaPradesh
114948,14601,7.597736e+18,2016-05-02 14:44:06,75.923332,22.777781,Indore,MadhyaPradesh
114949,17218,7.597736e+18,2016-05-01 16:24:02,75.923332,22.777781,Indore,MadhyaPradesh
114950,20521,7.597736e+18,2016-05-04 18:51:10,75.923332,22.777781,Indore,MadhyaPradesh
114951,20958,7.597736e+18,2016-05-06 18:41:40,75.923332,22.777781,Indore,MadhyaPradesh
114952,23830,7.597736e+18,2016-05-05 20:27:53,75.923332,22.777781,Indore,MadhyaPradesh
114953,23927,7.597736e+18,2016-05-05 19:59:17,75.923332,22.777781,Indore,MadhyaPradesh
114954,26580,7.597736e+18,2016-05-03 22:22:55,75.923332,22.777781,Indore,MadhyaPradesh
114955,27626,7.597736e+18,2016-05-01 23:04:27,75.923332,22.777781,Indore,MadhyaPradesh
114956,28549,7.597736e+18,2016-05-05 23:20:53,75.923332,22.777781,Indore,MadhyaPradesh
114957,50235,7.597736e+18,2016-05-04 16:33:06,75.923332,22.777781,Indore,MadhyaPradesh
114958,51104,7.597736e+18,2016-05-07 16:09:53,75.923332,22.777781,Indore,MadhyaPradesh
114959,53038,NaN,2016-05-01 18:11:24,75.923332,22.777781,Indore,MadhyaPradesh
114960,61351,7.597736e+18,2016-05-05 22:41:46,75.923332,22.777781,Indore,MadhyaPradesh
114961,62723,7.597736e+18,2016-05-05 23:26:56,75.923332,22.777781,Indore,MadhyaPradesh
114962,62725,NaN,2016-05-05 23:29:23,75.923332,22.777781,Indore,MadhyaPradesh
114963,89693,7.597736e+18,2016-05-02 15:26:22,75.923332,22.777781,Indore,MadhyaPradesh
114964,94183,7.597736e+18,2016-05-07 16:04:33,75.923332,22.777781,Indore,MadhyaPradesh
114965,98656,7.597736e+18,2016-05-01 13:02:31,75.923332,22.777781,Indore,MadhyaPradesh
114966,101096,7.597736e+18,2016-05-02 14:49:12,75.923332,22.777781,Indore,MadhyaPradesh
114967,102825,7.597736e+18,2016-05-02 15:26:03,75.923332,22.777781,Indore,MadhyaPradesh
114968,102826,7.597736e+18,2016-05-02 15:26:33,75.923332,22.777781,Indore,MadhyaPradesh
114969,103760,7.597736e+18,2016-05-04 15:28:34,75.923332,22.777781,Indore,MadhyaPradesh
114970,109913,7.597736e+18,2016-05-06 21:18:05,75.923332,22.777781,Indore,MadhyaPradesh
114971,112623,7.597736e+18,2016-05-05 22:23:44,75.923332,22.777781,Indore,MadhyaPradesh
114972,112979,7.597736e+18,2016-05-05 22:25:33,75.923332,22.777781,Indore,MadhyaPradesh
114973,113676,7.597736e+18,2016-05-06 19:41:33,75.923332,22.777781,Indore,MadhyaPradesh
114974,114810,7.597736e+18,2016-05-02 20:09:50,75.923332,22.777781,Indore,MadhyaPradesh
...,...,...,...,...,...,...,...
115669,3170782,7.597736e+18,2016-05-03 22:17:02,75.923332,22.777781,Indore,MadhyaPradesh
115670,3172585,7.597736e+18,2016-05-03 23:46:47,75.923332,22.777781,Indore,MadhyaPradesh
115671,3173987,7.597736e+18,2016-05-01 17:08:27,75.923332,22.777781,Indore,MadhyaPradesh
115672,3176871,7.597736e+18,2016-05-01 18:19:16,75.923332,22.777781,Indore,MadhyaPradesh
115673,3185982,7.597736e+18,2016-05-04 21:03:34,75.923332,22.777781,Indore,MadhyaPradesh
115674,3190084,7.597736e+18,2016-05-02 15:08:58,75.923332,22.777781,Indore,MadhyaPradesh
115675,3193727,7.597736e+18,2016-05-05 16:56:50,75.923332,22.777781,Indore,MadhyaPradesh
115676,3195761,7.597736e+18,2016-05-07 15:58:22,75.923332,22.777781,Indore,MadhyaPradesh
115677,3195763,7.597736e+18,2016-05-07 16:00:50,75.923332,22.777781,Indore,MadhyaPradesh
115678,3199890,7.597736e+18,2016-05-01 18:13:12,75.923332,22.777781,Indore,MadhyaPradesh
115679,3200482,7.597736e+18,2016-05-02 18:27:35,75.923332,22.777781,Indore,MadhyaPradesh
115680,3202726,7.597736e+18,2016-05-05 14:42:06,75.923332,22.777781,Indore,MadhyaPradesh
115681,3203723,7.597736e+18,2016-05-02 15:42:40,75.923332,22.777781,Indore,MadhyaPradesh
115682,3205371,7.597736e+18,2016-05-01 16:04:06,75.923332,22.777781,Indore,MadhyaPradesh
115683,3206292,7.597736e+18,2016-05-05 16:51:50,75.923332,22.777781,Indore,MadhyaPradesh
115684,3209469,7.597736e+18,2016-05-06 19:36:49,75.923332,22.777781,Indore,MadhyaPradesh
115685,3211891,7.597736e+18,2016-05-01 21:53:17,75.923332,22.777781,Indore,MadhyaPradesh
115686,3213986,7.597736e+18,2016-05-01 22:51:04,75.923332,22.777781,Indore,MadhyaPradesh
115687,3213987,7.597736e+18,2016-05-01 22:51:34,75.923332,22.777781,Indore,MadhyaPradesh
115688,3214579,NaN,2016-05-05 22:24:32,75.923332,22.777781,Indore,MadhyaPradesh
115689,3215042,7.597736e+18,2016-05-06 22:09:50,75.923332,22.777781,Indore,MadhyaPradesh
115690,3217039,7.597736e+18,2016-05-05 21:08:06,75.923332,22.777781,Indore,MadhyaPradesh
115691,3217332,7.597736e+18,2016-05-06 21:24:21,75.923332,22.777781,Indore,MadhyaPradesh
115692,3217362,7.597736e+18,2016-05-06 21:39:26,75.923332,22.777781,Indore,MadhyaPradesh
115693,3236668,7.597736e+18,2016-05-02 14:40:55,75.923332,22.777781,Indore,MadhyaPradesh
115694,3237798,7.597736e+18,2016-05-02 15:11:58,75.923332,22.777781,Indore,MadhyaPradesh
115695,3238971,7.597736e+18,2016-05-01 16:16:54,75.923332,22.777781,Indore,MadhyaPradesh
115696,3240586,7.597736e+18,2016-05-07 16:44:27,75.923332,22.777781,Indore,MadhyaPradesh
115697,3244684,7.597736e+18,2016-05-03 19:54:30,75.923332,22.777781,Indore,MadhyaPradesh
115698,3244889,7.597736e+18,2016-05-03 19:10:17,75.923332,22.777781,Indore,MadhyaPradesh

In [79]:
ds_events_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261097 entries, 0 to 261096
Data columns (total 7 columns):
event_id     261097 non-null int64
device_id    261046 non-null float64
timestamp    261097 non-null datetime64[ns]
longitude    261034 non-null float64
latitude     261034 non-null float64
city         261097 non-null object
state        261097 non-null object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 13.9+ MB

In [81]:
de = ds_events_data.copy()

In [84]:
ds_events_data['longitude'].unique().shape

(4192,)

In [85]:
ds_events_data['latitude'].unique().shape

(4280,)

In [86]:
ds_events_data['device_id'].unique().shape

(4298,)

In [87]:
ds=ds_events_data.copy()

In [88]:
ds['combined_geo'] = ds.apply(lambda row: str(row['longitude']) + str(row['latitude']), axis=1 )

In [90]:
ds['combined_geo'].unique().shape

(4301,)

In [108]:
#Map events data 

import folium
start_coord = [0,0]                                                           # starting co-ordinates
maps = folium.Map(location=start_coord, titles='OpenStreetMap', zoom_start=4)
df_map_series = pd.notnull(ds_events_data['longitude'])                       # create a series that has boolean values if nulls are present or not.
df_map = ds_events_data[df_map_series] #.iloc[0:5000, :]                      #un-comment .iloc, if sample data has to be mapped.
for i in range(0,len(df_map)):
    folium.CircleMarker(
                            location = [df_map.iloc[i]['latitude'], df_map.iloc[i]['longitude']],
                  popup="Location: {}, {}<br>Device Id: {}".
                  format(df_map.iloc[i]['latitude'], df_map.iloc[i]['longitude'],df_map.iloc[i]['device_id'] )
                            ).add_to(maps)
maps.save('events_map.html')                                                  # Map will be saved to this file, same folder as this notebook.